.bg-color {
    -fx-background-color: #FFFFFF;
}
.prompt-label {
    -fx-text-fill: blue;
}

.main-pane {
    -fx-border-radius: 10;
}
.right-column-color{
    -fx-background-color: #87c9ff;
}
.transparent {
    -fx-background-color: rgba(0,0,0,0);
    -fx-pref-height: 32;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #898989;
}

.login-reg-btn-radius {
    -fx-background-radius: 25;
}